body
{
	background-color: #1f3d7a;
	color: #ffffff;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
}

@media screen and (min-width: 321px) and (max-width: 480px)
{
	img {display: none;}
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

.one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

.header
{
	text-align: center;
	font-size: 40px;
	font-family: 'Raleway', sans-serif;
	margin-top: 20px;
}

#menu
{
	height: 50px;
    background-color: #009933;
    text-align: center;
    line-height: 50px;
}

label
{
	margin-right: 7px;
}

#image
{
	margin-top: 40px;
	margin-left: 100px;
}

figcaption
{
	margin-left: 100px;
	margin-top: 20px;
	margin-right: 100px;
}

h4
{
	font-size: 30px;
}

.contact
{
	margin-left: 300px;
	margin-top: 60px;
}

.social
{
	text-align: center;
	margin-top: 60px;
}

/*.icon-mail
{
	color: white;
}

.icon-facebook
{
	color: white;
}

.icon-twitter
{
	color: white;
}

.icon-mail:hover
{
	color: #009933;
}

.icon-facebook:hover
{
	color: #009933;
}

.icon-twitter:hover
{
	color: #009933;
}*/

.fab
{
	color: white;
	font-size: 15px;
}

.fab:hover
{
	color: #009933;
}




















